body {
    background-image: url(https://media.istockphoto.com/photos/white-arctic-wolf-standing-on-a-rock-picture-id131633984);
    background-size:cover
}
#Título {
    font-size: 118px;
    color: rgb(223, 213, 213);
    border: rgb(17, 182, 17) 5px groove;
    border-radius: 60px;
}

p {
    font-size: 35px;
    color: blue;
}
.parrafo {
    color:rgb(93, 209, 16);
    border:groove rgb(69, 214, 214) 5px;
    border-radius: 25px;
}
.parrafo strong {
    font-size: 32px;
    color: darkblue;
}
#charstuky {
    border: rgb(87, 7, 76) 50px double;
    
}
[href] {
    color:aqua
}
.main > * {
    color:blueviolet
}